<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3 sticky-top">
  <div class="d-flex align-items-center">
    <%= link_to root_path, style: "text-decoration: none; color: inherit;" do %>
      <h3 class="d-flex align-items-center">
        <%= image_tag "logo_red.png", alt: "alttext", class: "logo mr-2" %>
        <span class="venuebookr-text fw-bold">VenueBookr</span>
      </h3>
    <% end %>
  </div>

  <div>
    <div class="col-sm-12 my-1 mx-5">
      <% unless params[:controller] == "pages" && params[:action] == "home" %>
        <%= form_with url: venues_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search by venue name or location"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-danger", style: "color: white; text-decoration: none;" %>
        <% end %>
      <% end %>
    </div>
  </div>



  <ul class="nav navbar-right">
    <li>
      <button class="btn btn-form btn-small">
        <% if user_signed_in? %>
          <%= link_to "Become a host", new_venue_path, style: "color: red; text-decoration: none; margin-right: 10px;" %>
        <% else%>
          <%= link_to "Become a host", new_user_session_path, style: "color: red; text-decoration: none; margin-right: 10px;" %>
        <% end %>
      </button>
    </li>

    <% if !user_signed_in? %>
      <li class="btn btn-danger mx-1"><%= link_to "Log in", new_user_session_path, style: "color: white; text-decoration: none;" %></li>
      <li class="btn btn-secondary"><%= link_to "Sign Up", new_user_registration_path, style: "color: white; text-decoration: none;" %></li>
    <% else %>
      <div class="dropdown">
        <a href="#" id="userDropdown" data-bs-toggle="dropdown">
          <%= image_tag('avatar.png', alt: 'Your Image Alt Text', style: 'width: 40px; height: 40px; margin-left: 10px; margin-right: 10px;') %>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown" data-controller="tabs">
          <li>
            <%= link_to dashboard_path(current_user) do %>
            <i class="fa-solid fa-gauge" style="color: #dc3545;"></i>
          Dashboard
          <% end %>
          </li>

          <li class="divider"></li>

          <li>
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #dc3545;"></i>
            Sign out
          <% end %>
          </li>
        </ul>
      </div>

    <% end %>
  </ul>
</div>
