<div class="card m-3 col-3 p-1" style="width: 350px;">
  <% if venue.photos.attached? %>
    <img class="index-photo card-img-top" src=<%= cl_image_path venue.photos[0].key %> alt="Card image cap">
  <% end %>
  <div class="card-body text-start">
    <h5 class="card-title border-bottom fw-bold"><%= venue.name %></h5>
    <h5 class="card-title pt-2"><i class="fa-solid fa-people-group" style="color: #dc3545;"></i> <%= venue.capacity %> people</h5>
    <h5 class="card-title pt-2 fs-6 text-decoration-underline">£<%= venue.price_per_hour %> per day</h5>
    <%= link_to '', venue_path(venue), class:'stretched-link' %>

    <!-- Average Rating -->
    <div class="average-rating text-end mt-3">
      <% if venue.reviews.any? %>
        <% average_rating = venue.reviews.average(:rating).to_f %>
        <p class="mb-0">
          <% average_rating.round.times do %>
            <i class="fa-solid fa-star" style="color: #dc3545;"></i>
          <% end %>
          <%= average_rating.round %><span class="text-muted"> avg</span>
        </p>
      <% else %>
        <p class="mb-0">No reviews yet</p>
      <% end %>
    </div>
  </div>
</div>
