<br>
  <div class="container">
    <div class="card text-bg-grey mb-3" style="max-width: 100%;">
      <div class="card-header">
      <h5 class="fs-1"><strong> Welcome back, <%= @user.first_name.capitalize %>!</strong> </h5>
      </div>
    </div>
  </div>
<div data-controller="tabs">
  <div>
    <ul class="list-inline tabs-underlined justify-content-center">
      <li>
        <a href="#" class="tab-underlined active" data-action="tabs#changeTab" data-target="tabs.tab" data-tab="1">Bookings</a>
      </li>
      <li>
        <a href="#" class="tab-underlined" data-action="tabs#changeTab" data-target="tabs.tab" data-tab="2">Your venues</a>
      </li>
      <li>
        <a href="#" class="tab-underlined" data-action="tabs#changeTab" data-target="tabs.tab" data-tab="3">Bookmarked venues</a>
      </li>
    </ul>
  </div>

  <div class="container" data-target="tabs.content" data-tab="1">
    <br>
    <div class="border-bottom border-danger pb-2">
      <h1>Your Bookings</h1>
    </div>
    <br>
      <div class="row justify-content-center">
        <% @user.bookings.each do |booking| %>
          <div class="card m-3 col-3 p-2" style="width: 18rem;">
            <img src=<%= cl_image_path booking.venue.photos[0].key %> class="index-photo card-img-top" alt="booking-photo">
            <div class="card-body">
              <h5 class="card-title border-bottom border-danger pb-2"><%= booking.venue.name %></h5>
              <h5 class="card-title pb-2"><%= (booking.end_date - booking.start_date).to_i %> Nights x £<%= booking.venue.price_per_hour %></h5>
              <h5 class="card-title border-bottom border-danger pb-2">Total Price: £ <%= "#{ (booking.end_date - booking.start_date).to_i * booking.venue.price_per_hour}" %></h5>
              <h5 class="card-title">From <%=  booking.start_date.to_formatted_s(:long_ordinal)%> to <%= booking.end_date.to_formatted_s(:long_ordinal) %></h5>
            </div>
          </div>
        <% end %>
    </div>
  </div>

  <div class="container d-none" data-target="tabs.content" data-tab="3">
    <br>
    <div class="border-bottom border-danger pb-2">
      <h1>Your Bookmarks</h1>
    </div>
    <br>
      <div class="row justify-content-center">
        <% @user.bookmarks.each do |bookmark| %>
        <div class="card m-3 col-3 p-2" style="width: 18rem;">
            <% if bookmark.venue.photos.attached? %>
              <img class="index-photo card-img-top rounded" src=<%= cl_image_path bookmark.venue.photos[0].key %> alt="Card image cap">
            <% end %>
              <div class="card-body">
              <h5 class="card-title border-bottom border-danger pb-2"><%= bookmark.venue.name %></h5>
                <h5 class="card-title pt-2"> £<%= bookmark.venue.price_per_hour %> per day</h5>
            <%= link_to '', venue_path(bookmark.venue), class:'stretched-link' %>
            </div>
          </div>
      <% end  %>
  </div>
  </div>


  <div class="container d-none" data-target="tabs.content" data-tab="2">
    <br>
    <div class="border-bottom border-danger pb-2">
      <h1>Your Venues</h1>
    </div>


    <br>
      <div class="row justify-content-center">
        <% @user.venues.each do |venue| %>
          <div class="card m-3 col-3 p-2" style="width: 18rem;">
            <% if venue.photos.attached? %>
              <img class="index-photo card-img-top rounded" src=<%= cl_image_path venue.photos[0].key %> alt="Card image cap">
            <% end %>
              <div class="card-body">
              <h5 class="card-title border-bottom border-danger pb-2"><%= venue.name %></h5>
                <h5 class="card-title pt-2"> £<%= venue.price_per_hour %> per day</h5>
            <%= link_to '', venue_path(venue), class:'stretched-link' %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>

<%= render "shared/flash" %>
