<div class="column">
<%= simple_form_for(venue) do |f|%>
  <div class="mb-3 form-control">
    <%= f.input :name, input_html: { class:"form-control bg-white"} %>
  </div>
  <div class="mb-3 form-control">
    <%= f.input :description, input_html: { class:"form-control bg-white"} %>
  </div>
  <div class="mb-3 form-control">
    <%= f.input :location,
      input_html: {data: {address_autocomplete_target: "location"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
  </div>
  <div class="mb-3 form-control">
    <%= f.input :capacity, input_html: { class:"form-control bg-white"} %>
  </div>
  <div class="mb-3 form-control">
    <%= f.input :price_per_hour, label: "Price per day" , input_html: { class:"form-control bg-white"} %>
  </div>
  <div class="mb-3 form-control">
  <%= f.input :photos, as: :file, input_html: { multiple: true, class:"form-control"} %>
  </div>
  <div class="mb-3 btn-primary text-center">
  <%= f.submit 'Create venue', class: "btn btn-default btn-danger", style: "color: white"%>
  </div>
<% end %>
</div>
