<div class="column">
<%= simple_form_for(venue) do |f|%>
  <div class="mb-3 form-control">
    <%= f.input :name %>
  </div>
  <div class="mb-3 form-control">
    <%= f.input :description %>
  </div>
  <div class="mb-3 form-control">
    <%= f.input :location %>
  </div>
  <div class="mb-3 form-control">
    <%= f.input :capacity %>
  </div>
  <div class="mb-3 form-control">
    <%= f.input :price_per_hour %>
  </div>
  <div class="mb-3 btn-primary text-center">
    <%= f.submit %>
  </div>
<% end %>
</div>
