<div class="container">
    <br>
  <h1>All venues</h1>
    <br>
    <div class="row">
      <% @venues.each do |venue| %>
        <div class="card m-3 col-3 p-2" style="width: 18rem;">
        <% if venue.photos.attached? %>
          <img class="card-img-top rounded" src=<%= cl_image_path venue.photos[0].key %> alt="Card image cap">
          <% end %>
            <div class="card-body">
            <h5 class="card-title"><%= venue.name %></h5>
            <p class="card-text"><%= venue.description %></p>
            <p class="card-text">£<%= venue.price_per_hour %> per hour</p>
            <%= link_to venue.name, venue_path(venue), class:'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>
</div>
