<div class="container mt-3">
  <div class="row">
    <h1 class="d-flex justify-content-between" ><%= @venue.name %><%= render "bookmarks/bookmark_form", venue: @venue, bookmark: @bookmark %></h1>
    <div class="m-3 border-bottom border-danger"></div>

    <div class="col-md-8 m-3" >
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner", style="border-radius: 10px;">
          <% @venue.photos.each_with_index do |photo, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
            <%= cl_image_tag photo.key, style: "width: 100%; height: 460px; overflow: hidden; object-fit: cover;" %>
          </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

<!-- DESCRIPTION CARD-->

    <div class ="d-flex justify-content-center" >
      <div class="col-md-4 mt-3 mx-5">
        <div class="card", style="border-radius: 10px">
          <div class="card-body">
            <h5 class="card-title border-bottom border-danger p-2"><%= @venue.description %></h5>
            <h5 class="card-text p-2"><i class="fa-solid fa-globe" style="color: #dc3545;"></i> <%= @venue.location %></h5>
            <h5 class="card-text p-2 my-4"><i class="fa-solid fa-people-group" style="color: #dc3545;"></i> <%= @venue.capacity %> Person Capacity</h5>
            <h5 class="card-text p-2 my-4"><i class="fa-solid fa-money-bill-1-wave" style="color: #dc3545;"></i> £<%= @venue.price_per_hour %> per day</h5>
          </div>
        </div>
    </div>

<!-- BOOKING CARD-->

      <div class="col-md-4 bg-white p-4 mt-3 mx-5", style="border-radius: 10px">
        <div class="card">
          <%= render "bookings/booking_form", venue: @venue, booking: @booking %>
        </div>
      </div>

      </div>

      <!-- Reviews Section -->
<div class="col-md-8 mt-3 mx-auto">
  <div class="card p-4 mt-3" style="border-radius: 10px">
    <div class="card-body">
      <div class="mb-4">
        <h4 class="card-title border-bottom border-danger p-2">Reviews</h4>

        <% @venue.reviews.each do |review| %>
          <div class="mb-3">
            <h5 class="card-title">
              <% review.rating.times do %>
                <i class="fa-solid fa-star" style="color: #dc3545;"></i>
              <% end %>
            </h5>
            <p class="card-text"><%= review.comment %></p>
          </div>
        <% end %>
      </div>

      <!-- Leave a Review Section -->
    <% if current_user && Booking.where(user: current_user, venue: @venue).exists? %>
  <div class="mt-4">
    <h4 class="card-title border-bottom border-danger p-2">Leave a Review</h4>
    <div class="pt-4">
      <%= render 'reviews/form', venue: @venue, review: @review %>
    </div>
  </div>
<% end %>
    </div>
  </div>
</div>
    </div>
  </div>
</div>

<!-- booking.where(user:current_user, venue:@venue) save to variable.
